# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


rv/linux
*.cvd*
tv
tvd
tvv
rv/qspi
mk[0-9]
mkf[0-9]
mk[0-9][0-9]
rv/obj_dir
rv/old
*.sav
*.dtb
*.elf
*.inc
*.lst
*.dump
*.bin
*.gtkw
sv
svx
svv 
tyvd
vivado*jou
*.log
*.list
timesoftfloat64
vdb
svf
svdf
*.objdump
tmp
aws-*
rv/tests
rv/compliance
titan
.Xil
*.pdf
rv/docs
fp_*txt
fs.*
rv/spi
svb
mk
*.diff
rv/result/
rv/fobj_dir
core
*.png
run
mkctrl
*.tgz
rv/awsobj_dir
*.vcd
cvtbin
rv/HPC_XC7K420T_2019
todo
svd 
svdb
runall
mkenc
sys
rfile
make_image
timesoftfloat32
rv/compliance2
export_fpga_image
boot_image*
fvv
fpt
bextdep.v
bextdep_pps.v
rfile_*.sv
boot0.sv
boot1.sv
dtbrom.sv
test
*.bak
.*.swp
.*.swo
.*.swn
*.vcd.fst
